
<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn">
    <div (click)="verArtista(cancion)" *ngFor="let cancion of items" class="col puntero">
        <div class="card h-100">
        <img [src]="cancion.images | noimage" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{cancion.name}}</h5>
          <p class="card-text">
            <span *ngFor="let artis of cancion.artists" class="badge text-bg-secondary">
             {{artis.name}}
            </span>
          </p>
        </div>
      </div>
    </div>
</div>


<div class="row row-cols-1 row-cols-md-3 g-4">
  <div *ngFor="let artista of item" class="col">
      <div class="card h-100">
      <img [src]="artista.images | noimage" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">{{artista.name}}</h5>
      </div>
    </div>
  </div>
</div>

<div class="row row-cols-1 row-cols-md-3 g-4 animated fadeIn">
  <div (click)="verArtista(item)" *ngFor="let item of items" class="col puntero">
      <div class="card h-100">
          <img [src]="item.images | noimage" class="card-img-top" alt="...">
          <div class="card-body">
              <h5 class="card-title">{{item.name}}</h5>
              <p class="card-text" *ngIf="item.artists">
                  <span *ngFor="let artista of item.artists" class="badge text-bg-secondary">
                      {{artista.name}}
                  </span>
              </p>
          </div>
      </div>
  </div>
</div>